@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body {
  background-color: #09090b;
  color: #e4e4e7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}
